/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}







/*---------My CSS--------------*/
/*General Styles*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/*border: 1px solid black;*/
	max-width: 100%;
	font-family: 'Special Elite', cursive;
}

body{
	line-height: 2;
}

header{
	border: 5px solid purple;
}

nav{
	border: 5px solid orange;
	display: flex;
	justify-content: space-around;
}

.links{
	border: 5px solid yellow;
	width: 100%;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}
.links a{
	text-decoration: none;
	color: red;
	font-size: 3em;
}
section{
	padding: 4% 0;
}

.titles{
	border: 5px solid green;
	display: flex;
	justify-content: center;
	
}
.titles div{
	border: 5px solid blue;
	width: 50%;
	text-align: center;
}

.titles h1{
	color: red;
	font-weight: bold;
}
.titles h2{
	color: red;
	font-weight: bold;
}

/*header section styles*/

#home{
	/*background-image: url('headerBackground.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*height: 40vh;*/
}

/*about sectino styles*/
#about{
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
#about h2{
	text-align: center;
}

#about div{
	text-align: center;
	background-color: grey;
	width: 60%;
}

/*skills section styles*/
#skills h2{
	text-align: center;
}

.skills-container{
	display: flex;
	justify-content: space-around;
}

.skills-container div{
	width: 25%;
	text-align: center;
}

footer{
	text-align: center;
}

/*Media Queries*/
@media (width <= 625px){
	.links{
		display: flex;
		flex-direction: column;
	}
}

