nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Link{
    color: white;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-right: 1rem;
}

#link_id{
    text-decoration: none;
    color: white;
}

